/* LIGHT THEME */

:root {
    --background-color: #f9faff;
    --text-color: #000000;
    --text-dark: #eee;
    --heading-color: #000000;
    --link-color: rgb(0, 76, 168);
    --hr-color: #ddd;
    --highlight-color: rgb(0, 76, 168);
    --highlight-text-color: rgb(255, 255, 255);
    --shadow-color: #70a7ea;
}

/* DARK THEME */

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(22, 15, 27);
        --text-color: rgb(240, 220, 256);
        --heading-color: rgb(240, 240, 256);
        --link-color: rgb(220, 150, 256);
        --hr-color: #444;
        --footer-color: #ccc;
        --highlight-color: rgb(220, 150, 256);
        --highlight-text-color: black;
        --shadow-color: rgb(81, 55, 94);
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: georgia;
    font-size: 17px;
/*     filter: drop-shadow(0px 0px 300px var(--shadow-color)); */
}

h1 {
    
    font-size: 45px;
}

h1, h2, h3 {
    color: var(--heading-color);
    font-family: tahoma;
}

a {
    color: var(--link-color);
    /* transition: color 0.3s ease; */
    text-decoration: underline;
    padding: 1px;
    font-family: tahoma;
}

*:focus {
    border-bottom: 2px solid var(--text-color);
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
    outline: none;
    text-decoration: none;
}

a:hover {
    font-weight: 800;
    text-decoration: none;
}

p {
    line-height: 1.6;
    color: var(--text-color);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--hr-color);
}

ul {
    padding: 0;
}

li {
    margin-bottom: 15px;
}

img {
    max-height: 500px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}