.site-background-colour {
    background-color: #161616;
}
.primary-text-colour {
    color: #cecece;
}
.secondary-text-colour {
    color: #969696;
}
.primary-text-font {
    font-family: 'Solway', serif;
}
.text-type-title {
    font-weight: 700;
    font-size: 20pt;
}
.text-type-primary-nav {
    font-weight: 400;
    font-size: 20pt;
}
.element-template-navbar-horizontal > * {
    display: inline;
}
.offset-left-navbar-horizontal {
    margin-left: 63px;
}
.primary-promotional-section-title {
    font-weight: 700;
    font-size: 70pt;
    position: relative;
    margin-top: 50%;
    margin-left: 80px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.primary-promotional-section-subtext {
    font-weight: 400;
    font-size: 15pt;
    position: relative;
    margin-left: 80px;
    margin-right: 0px;
    margin-top: 22px;
}
.primary-promotional-section-image {
    width: 451px;
    border-radius: 18px;
    margin-top: 20%;
    margin-right: 100px;
}
.primary-promotional-section-left {
    float: left;
}
.primary-promotional-section-right {
    float: right;
}
.primary-promotional-section-link {
    font-size: 20pt;
    margin-top: 20px;
    display: block;
}
.icon-play {
    margin-left: 80px;
    width: 50px;
}
.icon-download {
    margin-left: 12px;
    width: 50px;
}
.media-player-parent-element {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 70px;
    background-color: #161616;
}
.media-player-preview-image {
    width: 50px;
    border-radius: 5px;
    display: inline;
}
.media-player-text-block {
    display: inline-block;
}
.media-player-title {
    margin: 0px;
    font-weight: 700;
    font-size: 33px;
    margin-left: 10px;
}
.media-player-subtext {
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}