/* LIGHT THEME */

:root {
    --background-color: #f9faff;
    --text-color: #000000;
    --text-dark: #eee;
    --heading-color: #000000;
    --link-color: rgb(0, 76, 168);
    --hr-color: #ddd;
    --highlight-color: rgb(255, 230, 0);
    --highlight-text-color: rgb(0, 0, 0);
    --body-size: 13pt;
}

/* DARK THEME */

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --text-color: white;
        --heading-color: white;
        --link-color: #53c8fe;
        --hr-color: #444;
        --footer-color: #ccc;
        --highlight-color: rgb(255, 230, 0);
        --highlight-text-color: black;
    }
}

body {
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: var(--body-size);
    font-weight: 200;
}

@media only screen and (max-width: 400px) {
    nav > * {
        display: block;
    }
}

@media only screen and (min-width: 400px) {
    .parent_for_layout_grid {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .parent_for_layout_grid > p {
        margin-top: auto;
        margin-left: 25px;
    }
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 25px;
}

h1, h2, h3 {
    color: var(--heading-color);
}

a {
    color: var(--link-color);
/*     transition: color 0.3s ease; */
    animation-name: unBoldLinks;
    animation-duration: 0.1s
    text-decoration: underline;
    padding: 1px;
}

*:focus {
    border-bottom: 2px solid var(--text-color);
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
    outline: none;
    text-decoration: none;
}

a:hover {
/*     font-weight: 800; */
    animation-name: boldLinks;
    animation-duration: 0.1s;
    font-weight: 700;
    text-decoration: none;
}

p {
    line-height: 1.6;
    color: var(--text-color);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--hr-color);
}

ul {
    padding: 0;
}

ul > li {
    margin-left: 25px;
}

li {
    margin-bottom: 15px;
}

img {
    max-height: 500px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

.date {
    font-style: italic;
}

code {
    color: rgb(200,0,100);
}

@keyframes boldLinks {
    0% {font-weight: 400;}
    100% {font-weight: 700;}
}

@keyframes unBoldLinks {
    0% {font-weight: 700;}
    100% {font-weight: 400;}
}

details {
    padding: 10px;
    border: 1px solid var(--hr-color);
}

summary {
    font-size: calc(var(--body-size) + 3pt);
    font-weight: 700;
}

nav {
    border-bottom: 1px solid var(--hr-color);
    padding-bottom: 15px;
}

figcaption {
    text-align: center;
    font-size: calc(var(--body-size) - 3pt);
    color: gray;
}

